@model List<Product>
@{
    ViewData["Title"] = "All Products";

}
<div class="d-flex flex-wrap justify-content-center ">
    @foreach (var product in Model)
    {
        var extension = System.IO.Path.GetExtension(product.ImageUrl);
        var path = $"/productImages/{product.ProductId + extension}";
        <div class="card m-2 shadow" style="width: 18rem;">
            <div class="imageContainer">
                <img src="@path" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">@product.Name</h5>
                    <h5 class="card-title">@product.Price PKR</h5>
                </div>
                <p class="card-text">@product.Description</p>
                <a asp-action="ProductDetails" asp-route-productId="@product.ProductId" class="btn btn-primary">View Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="ReceiveProductId" asp-controller="Admin" asp-route-productId="@product.ProductId" class="btn btn-warning">Edit</a>
                }
            </div>
        </div>

    }
</div>
